@media (max-width: 769px) {
    .mario{
        width: 90px;
    }

    .pipe{
        width: 50px;
        animation: pipe-animation 1s infinite linear;
    }

    .jump {
        animation: jump-mobile 500ms ease-out;
    }
}
