@media (max-width: 620px){
    .mario{
        width: 110px;
        position: absolute;
        bottom: 0px;
    }

    .pipe{
        position: absolute;
        bottom: 0;
        width: 50px;
        animation: pipe-animation 1s infinite linear;
    }
}
